aside{
    display: flex;
    justify-content:center;
    align-items: center;
    /*background-attachment: url(../images/image.png);*/
    background: linear-gradient(var(--text-color),var(--accent-color));
    clip-path: circle(20rem at center);
    border: 0;
}
aside,h2{
    font-size: 2rem;
    color: var(--light-mode);
}
/*aside, div{
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    height: 600px;
    background-size: cover;
    clip-path: circle(20rem at center);
}*/
form{
    display: flex;
    flex-flow: column wrap;
    position: relative
}
form > input, form >textarea {
    margin: 1rem;
    padding: 0.5rem;

}
h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
section{
    display: flex;
    align-items: stretch;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    border-left: double 1rem;
    padding: 2rem;
    }
    input textarea{
        border-radius: 4px;
        border-width: 1px;
        font-size: 2rem;
        background-color: var(--background-color);
    }
    .darkTheme section{
        border-left: solid 5rem var(--dark-body);
    }
    #error {
        color: var(--background-color);
        opacity: .75;
        position: absolute;
        bottom: -2rem;
    }
  
  